html,
body {
  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;

  background-color: $bg;
  color: $fg;
}

h2 {
  margin: 1rem 0;
}

section {
  margin: 2rem 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
