@media (max-width: 900px) {
  main {
    margin: 0 !important;
    padding: 2rem;
  }

  header {
    margin: 1rem 0 !important;
  }

  .servers {
    display: block !important;

    .server {
      margin: 1rem 0;
    }
  }
}
