#search-field {
  font-size: 1.5em;
  display: block;
  width: 100%;
  padding: 1em;
  color: $white;
  background: lighten($dark, 5%);
  font: inherit;
  border: none;
  border-radius: 0.2rem;
  outline: none;
}

$search-emoji-size: 64px;

#search-results {
  &-blobs {
    display: grid;
    grid-template-columns: repeat(auto-fill, $search-emoji-size);
    grid-gap: 2rem;
    justify-content: center;

    &:not(:empty) {
      margin: 3rem 0;
    }

    .emoji {
      height: $search-emoji-size;
      width: $search-emoji-size;
    }

    .search-result {
      cursor: pointer;

      .emoji-container {
        display: block;
      }

      .emoji {
        display: block;
      }
    }
  }
}
