#search-field {
  font-size: 1.5em;
  display: block;
  width: 100%;
  padding: 1em;
  color: $white;
  background: lighten($dark, 5%);
  font: inherit;
  border: none;
  border-radius: 0.2rem;
  outline: none;
}

$search-emoji-size: 64px;

.no-results {
  margin: 3rem 0;
  text-align: center;

  .emoji {
    margin-left: 0.5em;
    width: 1.5em;
    vertical-align: bottom;
  }
}

#search-results {
  &-guilds {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($guild-modal-width, 1fr));
    grid-gap: 2rem;

    &:not(:empty) {
      padding: 3rem 0 0;
    }
  }

  &-blobs {
    display: grid;
    grid-template-columns: repeat(auto-fill, $search-emoji-size);
    grid-gap: 2rem;
    justify-content: center;

    &:not(:empty) {
      margin: 3rem 0;
    }

    .emoji {
      height: $search-emoji-size;
      width: $search-emoji-size;
    }

    .search-result {
      cursor: pointer;

      .emoji-container {
        display: block;
      }

      .emoji {
        display: block;
      }
    }
  }

  &-pages {
    display: grid;
    grid-template-columns: repeat(auto-fill, 64px);
    justify-content: center;

    .pages {
      background: $green;
      display: inline-block;
      font-size: 1rem;
      color: white;
      border: none;
      text-align: center;
      margin: 0.5rem;
      padding: 1vh;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        background: $blurple;
      }
    }
  }
}
