.join-server {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 0.65em;
}

.view-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  button {
    background: $blurple;
    display: inline-block;
    font-size: 1rem;
    color: white;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.sample {
  display: flex;
  width: 100%;
  justify-content: space-around;

  .server.expanded & {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5rem;
    justify-content: center;

    .emoji-container {
      display: flex;
      justify-content: center;
    }
  }

  img,
  span.more {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }

  span.more {
    color: lighten($bg, 50%);
  }
}

.servers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding: 1rem 0;

  .server {
    display: block;
    color: $fg;
    padding: 1em;
    border: solid 0.1rem lighten($bg, 10%);
    border-radius: 0.2rem;
    text-decoration: inherit;
    transition: border-color 0.25s;

    &.expandable {
      cursor: pointer;

      &.expanded h3 .expanded-status {
        transform: rotate(180deg);
      }
    }

    &:hover {
      border-color: lighten($bg, 20%);
    }

    p {
      margin: 0;
    }

    h3 {
      display: flex;
      align-items: center;
      margin: 0 0 1.5rem 0;

      .name {
        width: calc(100% - 3rem);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .expanded-status {
        margin-left: auto;
        width: 1rem;
      }

      .icon {
        display: block;
        margin-right: 0.5rem;
        width: 1em;
        border-radius: 100%;
      }
    }
  }
}
