// Variables to do with server modal spacing
$server-modal-width: 300px;
$server-modal-count: 3;

// Color variables
$blurple: #7289da;
$white: #fff;
$bright: #ccc;
$green: #43b581;
$greyple: #99aab5;
$dark: #2c2f33;
$black: #23272a;

$bg: $black;
$fg: $bright;
